<!DOCTYPE html>
<html>
	<head>
	<title>new</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/materialize.min.css" media="screen,projection">
		<link rel="stylesheet" type="text/css" href="/app.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	</head>
	<body>

		<nav>
		<div class="navbar nav-wrapper">
		<a href="/ichos" class="brand-logo"><i class="material-icons left">settings</i>ichos</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
		<li><a href="#" class="waves-effect waves-light btn primaryGoal"><i class="material-icons left">list</i>Feed</a></li>
		<li><a href="#" class="waves-effect waves-light btn secondaryGoal z-depth-0"><i class="material-icons left">person</i>My Account</a></li>
		</ul>
		</div>
		</nav>

		<ul class="sidenav" id="mobile-demo">
		<li><a href="#">Feed</a></li>
		<li><a href="#">My Account</a></li>
		</ul>

		<br><br><br>
		<center>
		<div class="container">
		<form action="/ichos" method="POST" enctype="multipart/form-data">
		<input type="text" name="ichosObject[title]" placeholder="Enter Title">
		<br>
		<input type="text" name="ichosObject[content]" placeholder="Enter Content">
		<br>
		<input type="file" name="ichosObject[image]">
		<br><br><br>
		<button type="submit" name="action" class="waves-effect waves-light btn primaryGoal">Create</button>
		</form>
		</div>
		</center>

		<script type="text/javascript" src="/materialize.min.js"></script>
	</body>
</html>